<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
</head>

<body>
    <div>
        <h1><b>
                <%= username %> Profile page
            </b></h1>
        <div>
            <div>
                <p><b>Username:</b></p>
            </div>
            <div>
                <p>
                    <b>
                        <%= username %>
                    </b>
                </p>
            </div>
        </div>
        <div>
            <div>
                <p><b>Password:</b></p>
            </div>
            <div>
                <p>
                    <b>
                        <%= password %>
                    </b>
                </p>
            </div>
        </div>
        <div>
            <div>
                <p><b>Email:</b></p>
            </div>
            <div>
                <p>
                    <b>
                        <%= email %>
                    </b>
                </p>
            </div>
        </div>
        <div>
            <div>
                <p><b>Gender:</b></p>
            </div>
            <div>
                <p>
                    <b>
                        <%= gender %>
                    </b>
                </p>
            </div>
        </div>
    </div>
</body>

</html>