<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
</head>

<body>
    <div>
        <h1>
            <%= username %> Profile page
        </h1>
        <div>
            <div>
                <p>Username:</p>
            </div>
            <div>
                <p>
                    <%= username %>
                </p>
            </div>
        </div>
        <div>
            <div>
                <p>Password:</p>
            </div>
            <div>
                <p>
                    <%= password %>
                </p>
            </div>
        </div>
        <div>
            <div>
                <p>Email:</p>
            </div>
            <div>
                <p>
                    <%= email %>
                </p>
            </div>
        </div>
        <div>
            <div>
                <p>Gender:</p>
            </div>
            <div>
                <p>
                    <%= gender %>
                </p>
            </div>
        </div>
    </div>
</body>

</html>